<h1>Search for a Magic: the Gathering Card</h1>

<form id="search-form">
  <input type="text" id="search-term" name="search-term" class="Search for Card">
  <input type="submit" class="Submit">
</form>

<div class="results"></div>