<div id="tabs-buttons">
  <!-- remove whitespace between buttons to prevent inline-block gaps between elements -->
  <button type="button" id="search-card-btn">Search Cards</button><button type="button" id="generate-booster-btn">Generate Booster</button><button type="button" id="show-favs-btn">Show Favourites</button>
</div>
<div id="tabs-content"></div>